:host {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

mat-card {
  flex: 0 0 auto;
  min-height: 13rem;
  max-height: 100%;
  padding: 1.4rem;
  border-radius: 0.8rem;
  background: rgba(255,255,255,0.75);
}

h1 {
  font-weight: 500;
}

.title {
  margin-top: 2rem;
  font-size: 1.1em;
  color: #787878;
  font-weight: 500;
}

.control {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
}

.control mat-form-field {
  width: 45%;
}

.control mat-form-field .mat-form-field-infix {
  border: 1px solid black;
  border-radius: 0.4rem;
}

.control button {
  margin-top: 1rem;
  width: 35%;
  align-self: center;

  background-color: #345460;
  color: white;
  padding: 0.4rem;
  border: 0;
  border-radius: 0.4rem;
}

.control ::ng-deep mat-form-field .mat-form-field-infix {
  border: 1px solid black;
  border-radius: 0.6rem ;
  padding: 0.6rem;
  background-color: white;
}

.control ::ng-deep mat-form-field .mat-form-field-underline {
  display: none;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background-color: inherit;
}

table tr {
  line-height: 2rem;
}

table .mat-header-cell {
  border-bottom: 1.5px solid black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

table td {
  border-bottom: 1px solid black;
}

table .mat-column-date, table .mat-column-time {
  width: 30%;
}

table .mat-column-temp {
  font-weight: 500;
}

mat-paginator {
  background-color: inherit;
}

::ng-deep mat-paginator .mat-paginator-container {
  justify-content: center;
}
